/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin boton($bgcolor, $display){
    background-color: $bgcolor;
    color: $blanco;
    font-weight: $regular;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    display: $display;
    border: none;
    font-size: 2rem;

    &:hover{
        background-color: darken($bgcolor, 5);
        cursor: pointer;
    }
}
@mixin grid($columnas, $separacion){
    display: grid;
    gap: $separacion;
    grid-template-columns: repeat($columnas, 1fr);
}